<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer ?</title>
</head>

<body>
    <div th:text="${id}" id="idToDelete"></div>
    <div th:text="${nameOfClientToDelete}" id="nameOfClientToDelete"></div>
    <!-- <form id="deleteForm" method="delete"></form> -->
    <script>
        var nameOfClientToDelete = document.getElementById("nameOfClientToDelete").textContent;
        var idToDelete = document.getElementById("idToDelete").textContent;
        if (confirm("Do you wanna delete this client :" + nameOfClientToDelete + " ?")) {
            fetch("/clients/" + idToDelete, {
                method: 'delete'
            }).then(response => {
                if (response.status == 200) {
                    alert(nameOfClientToDelete + ' has been deleted !');
                    location.href = "/clients";
                }
            })
        } else {
            location.href = "/clients";
        }
    </script>
</body>

</html>